<div class="layout-container">
    <div class="layout-header">
        <h1>Sistema Bancario</h1>
    </div>
    <div class="layout-body">
        <div class="layout-nav">
            <nav>
                <a routerLink="/clientes" routerLinkActive="active">Clientes</a>
                <a routerLink="/cuentas" routerLinkActive="active">Cuentas</a>
                <a routerLink="/movimientos" routerLinkActive="active">Movimientos</a>
                <a routerLink="/reportes" routerLinkActive="active">Reportes</a>
            </nav>
        </div>
        <div class="router-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>