.layout-container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .layout-header{
        width: 100%;
        padding: 4px 10px;
        border-bottom: 1px solid var(--border-color);
        background-color: var(--accent-color);

        h1{
            color: var(--text-dark);
            font-weight: bold;
            font-size: 40px;
            text-align: center;
        }
    }

    .layout-body{
        width: 100vw;
        height: 100%;
        display: flex;

        .layout-nav{
            width: 200px;
            border-right: 1px solid var(--border-color);
            background-color: var(--tabla-background);
            

            nav{                
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
            
                a{
                    border-bottom: 1px solid var(--border-color);       
                    color: var(--navbar-text);
                    padding: 20px;
                }
                a.active{
                    font-weight: bold;
                }
                a:hover{
                    color: var(--navbar-hover);
                }
            }
        }

        .router-content{
            flex: 1;
            padding: 30px;
        }
    }
}
