.clientes-container{
    width: 100%;
    
    .tools-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;

        .search-input{
            width: 250px;
        }

        button{
            white-space: nowrap;
        }
    }
}
