@import './normalize.scss';

:root {
    --title-color: #383be3;
    --border-color: #888888;
    --text-dark: #000000;
    --text-ligth: #ffffff;
    --accent-color: #ffe205;
    --accent-hover: #c6b009;
    --navbar-background: #f5f5f5;
    --navbar-text: #333;
    --navbar-hover: #818161;
    --tabla-background: #f8f9c6;
}

// Estilo de formularios
form{
    display: flex;
    flex-direction: column;

    .forms-columns{
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-bottom: 30px;

    
        .column{
            display: flex;
            flex-direction: column;
            gap: 15px;
            min-width: 250px;
        }

        .form-field{
            display: flex;
            justify-content: center;
            align-items: center;
            
            > :first-child {
                width: 100px;
                text-align: right;
                font-weight: bold;
                margin-right: 10px;
            }
            input, select {
                width: 150px;
            }

        }

        span {
            visibility: hidden;
            justify-content: center;
        }

        .visible {
            visibility: visible;
        }
        
    }

    .action-buttons{
        display: flex;
        justify-content: center;
        gap: 30px;
    }

}

input, select{
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
}

.button {
  padding: 0.4rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid var(--border-color);
  transition: background 0.3s;

  &.primary {
    background-color: var(--accent-color);
    color: var(--text-dark);

    &:hover { 
        background-color: var(--accent-hover);
    }
  }

  &.secondary {
    background-color: var(--tabla-background);
    color: var(--text-dark);

    &:hover { 
        background-color: var(--accent-hover);
    }
  }
}

// Estilo de textos
h2{
  color: var(--text-dark);
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 20px;
}


.warning-text{
  display: block;
  font-weight: bold;
  color: red;
  text-align: center;
  min-height: 1em;
}

// Estilo de tablas
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th{
    background-color: var(--accent-color);
}

td, th {
  border: 1px solid var(--border-color);
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: var(--tabla-background);
}

