<div class="clientes-container">
    <h2>Clientes</h2>
    <div class="tools-bar">
        <input type="text" placeholder="Buscar cliente..." class="search-input" />
        <button class="button primary">Nuevo cliente</button>
    </div>
    <div class="info-container">
         <ng-container *ngIf="false; else tablaClientes">
            <span class="warning-text">No hay clientes registrados. Por favor agregue uno nuevo.</span>    
        </ng-container>
        <ng-template #tablaClientes>
            <table>
                <tr *ngFor="let item of listaClientes;let indice=index">
                    <td> {{indice+1}} 
                    <td>{{item.nombre}}</td>
                </tr>
            </table> 
        </ng-template>
    </div>
</div>